<h2><%= @location.name %></h2>

<div class="mt-4">
  <h3>Past dates</h3>
  <ul>
    <% @location.sessions.past.each do |session| %>
      <li><%= session.date %> - <%= session.title %></li>
    <% end %>
  </ul>

  <h3>Upcoming dates</h3>
  <ul>
    <% @location.sessions.upcoming.each do |session| %>
      <li><%= session.date %> - <%= session.title %></li>
    <% end %>
  </ul>

  <%= link_to "â• Create new date", new_admin_session_path(location_id: @location.id), class: "btn btn-success" %>
</div>
