<%= render SectionComponent.new(title: "Personal", open: false) do %>

  <div class="flex justify-between items-center">
    <div class="font-semibold text-lg">
      <%= current_user.name %>
    </div>
    <%= link_to "Edit", edit_user_registration_path, class: "font-bold underline" %>
  </div>

  <div class="flex justify-between items-center">
    <div class="text-gray-600 text-lg">
      <%= current_user.email %>
    </div>
    <%= link_to "Edit", edit_user_registration_path, class: "font-bold underline" %>
  </div>

<% end %>
